backend:
  name: github
  repo: tsaristbomba/grainn-template

media_folder: static/assets
public_folder: /assets

collections:
  - name: "layout"
    label: "Layout"
    files:
      - label: "Navbar"
        name: "navbar"
        file: "/content/navbar.yml"
        preview: false
        fields:
          - {
              name: logo,
              label: Logo,
              widget: "image",
              default: "/static/assets/logo.png",
              allow_multiple: false,
              required: false,
            }
          - { name: name, label: Site Name, widget: "string" }
          - label: Nav Links
            name: navLinks
            widget: list
            fields:
              - { name: navLink, label: Link, widget: "string" }
      - label: "Footer"
        name: "footer"
        file: "/content/footer.yml"
        preview: false
        fields:
          - label: "Columns"
            name: "columns"
            widget: "object"
            fields:
              - label: "Column 1"
                name: "columnOne"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    fields:
                      - { name: "List Item", label: "item", widget: "string" }
              - label: "Column 2"
                name: "columnTwo"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    fields:
                      - { name: "List Item", label: "item", widget: "string" }
              - label: "Column 3"
                name: "columnThree"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    fields:
                      - { name: "List Item", label: "item", widget: "string" }
          - label: "Socials"
            name: "socials"
            widget: "list"
            fields:
              - {
                  label: "Social Network Name",
                  name: "socialNetwork",
                  widget: "string",
                }
              - { name: "link", label: "Social Link", widget: "string" }
