backend:
  name: github
  repo: tsaristbomba/grainn-template

media_folder: static/assets
public_folder: /assets

collections:
  - name: "layout"
    label: "Layout"
    files:
      - label: "Navbar"
        name: "navbar"
        file: "/content/navbar.yml"
        fields:
          - {
              name: logo,
              label: Logo,
              widget: "image",
              default: "/static/assets/logo.png",
              allow_multiple: false,
            }
          - label: Nav Links
            name: navLinks
            widget: list
            fields:
              - { name: navLink, label: Link, widget: "string" }
          - { name: buttonLabel, label: Button Label, widget: "string" }
      - label: "Footer"
        name: "footer"
        file: "/content/footer.yml"
        fields:
          - {
              name: logo,
              label: Logo,
              widget: "image",
              default: "/static/assets/logo.png",
              allow_multiple: false,
            }
          - label: "Footer Links"
            name: "footerLinks1"
            widget: "object"
            fields:
              - { label: List Title, name: list, widget: "string" }
              - label: Links
                name: links
                widget: list
                fields:
                  - { name: link, label: link, widget: "string" }
          - label: "Footer Links 2"
            name: "footerLinks2"
            widget: "object"
            fields:
              - { label: List Title, name: list, widget: "string" }
              - label: Links
                name: links
                widget: list
                fields:
                  - { name: link, label: link, widget: "string" }
          - label: "Footer Links 3"
            name: "footerLinks3"
            widget: "object"
            fields:
              - { label: List Title, name: list, widget: "string" }
              - label: Links
                name: links
                widget: list
                fields:
                  - { name: link, label: link, widget: "string" }
