backend:
  name: github
  repo: tsaristbomba/grainn-template

media_folder: static/assets
public_folder: /assets

collections:
  - name: "layout"
    label: "Layout"
    files:
      - label: "Navbar"
        name: "navbar"
        file: "/content/navbar.yml"
        fields:
          - {
              name: logo,
              label: Logo,
              widget: "image",
              default: "/static/assets/logo.png",
              allow_multiple: false,
              required: false,
            }
          - { name: name, label: Site Name, widget: "string" }
          - label: Nav Links
            name: navLinks
            widget: list
            min: 3
            fields:
              - { name: navLink, label: Link, widget: "string" }
              - { name: slug, label: Link Slug, widget: "string" }
      - label: "Footer"
        name: "footer"
        file: "/content/footer.yml"
        fields:
          - label: "Columns"
            name: "columns"
            widget: "object"
            fields:
              - label: "Column 1"
                name: "columnOne"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    min: 1
                    fields:
                      - { name: "item", label: "List Item", widget: "string" }
              - label: "Column 2"
                name: "columnTwo"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    min: 1
                    fields:
                      - { name: "item", label: "List Item", widget: "string" }
              - label: "Column 3"
                name: "columnThree"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: List Items
                    name: items
                    widget: list
                    min: 1
                    fields:
                      - { name: "item", label: "List Item", widget: "string" }
          - label: "Socials"
            name: "socials"
            widget: "list"
            fields:
              - {
                  label: "Social Network Name",
                  name: "socialNetwork",
                  widget: "string",
                  min: 1,
                }
              - { name: "link", label: "Social Link", widget: "string" }
  - name: "home"
    label: "Home Page"
    files:
      - label: "Hero"
        name: "hero"
        file: "/content/hero.yml"
        fields:
          - {
              name: heroImg,
              label: Background Image,
              widget: "image",
              default: "/static/assets/hero.jpg",
              allow_multiple: false,
            }
          - { name: heroTitle, label: Hero Title, widget: "string" }
          - { name: heroSub, label: Hero Subtitle, widget: "string" }
      - label: "Info"
        name: "info"
        file: "/content/info.yml"
        fields:
          - {
              name: "infoImageOne",
              label: "Image 1",
              widget: "image",
              default: "/static/assets/coffee-cup.svg",
              allow_multiple: false,
              required: false,
            }
          - { name: "infoTitleOne", label: "Info Title", widget: "string" }
          - { name: "infoSubOne", label: "Info Subtitle", widget: "string" }
          - {
              name: "infoImageTwo",
              label: "Image 2",
              widget: "image",
              default: "/static/assets/coffee-cup.svg",
              allow_multiple: false,
              required: false,
            }
          - { name: "infoTitleTwo", label: "Info Title", widget: "string" }
          - { name: "infoSubTwo", label: "Info Subtitle", widget: "string" }
          - {
              name: "infoImageThree",
              label: "Image 3",
              widget: "image",
              default: "/static/assets/coffee-beans.svg",
              allow_multiple: false,
              required: false,
            }
          - { name: "infoTitleThree", label: "Info Title", widget: "string" }
          - { name: "infoSubThree", label: Info Subtitle, widget: "string" }
  - label: "Banner"
    name: "banner"
    file: "/content/banner.yml"
    fields:
      - {
          name: "bannerImg",
          label: "Background Image",
          widget: "image",
          default: "/static/assets/reservation.jpg",
          allow_multiple: false,
        }
      - { name: "description", label: "Short Description", widget: "string" }
      - { name: "title", label: "Banner Title", widget: "string" }
      - label: "Text list"
        name: "textList"
        widget: "list"
        min: 1
        max: 2
        fields:
          - { name: "text", label: "Text", widget: "string" }
      - { name: "button", label: "Button Label", widget: "string" }
      - { name: "slug", label: "Button Slug", widget: "string" }
  - label: "About Us"
    name: "about"
    file: "/content/about.yml"
    fields:
      - {
          name: "backgroundImage",
          label: "Background Image",
          widget: "image",
          default: "/static/assets/about-bg.jpg",
          allow_multiple: false,
        }
      - { name: "title", label: "Title", widget: "string" }
      - { name: "subtitle", label: "Subtitle", widget: "string" }
      - {
          name: "shortDescription",
          label: "Short Description",
          widget: "string",
        }
      - { name: "text", label: "Detailed Paragraph", widget: "string" }
      - { name: "button", label: "Button Label", widget: "string" }
      - { name: "slug", label: "Button Slug", widget: "string" }
      - {
          name: "image",
          label: "Image",
          widget: "image",
          default: "/static/assets/about.jpg",
          allow_multiple: false,
        }
  - label: "Menu"
    name: "menu"
    file: "/content/menu.yml"
    fields:
      - {
          name: "backgroundImage",
          label: "Background Image",
          widget: "image",
          default: "/static/assets/menu-bg.jpg",
          allow_multiple: false,
        }
      - { name: "title", label: "Title", widget: "string" }
      - { name: "subtitle", label: "Subtitle", widget: "string" }
      - {
          name: "shortDescription",
          label: "Short Description",
          widget: "string",
        }
      - { name: "text", label: "Detailed Paragraph", widget: "string" }
      - label: "Menu"
        name: "menu"
        widget: "object"
        fields:
          - { name: "name", label: "Menu Name", widget: "string" }
          - name: "items"
            label: "Menu Items"
            widget: "list"
            fields:
              - { name: "title", label: "Title", widget: "string" }
              - { name: "description", label: "Description", widget: "string" }
              - {
                  name: "image",
                  label: "Item Image",
                  widget: "image",
                  default: "/static/assets/menu-bg.jpg",
                  allow_multiple: false,
                }
