backend:
  name: github
  repo: tsaristbomba/grainn-template

media_folder: static/assets
public_folder: /assets

collections:
  - name: "layout"
    label: "Layout"
    files:
      - label: "Navbar"
        name: "navbar"
        file: "/content/navbar.yml"
        fields:
          - {
              name: logo,
              label: Logo,
              widget: "image",
              default: "/static/assets/logo.png",
              allow_multiple: false,
            }
          - { name: imageAlt, label: Image Alt, widget: "string" }
          - label: Nav Links
            name: navLinks
            widget: list
            fields:
              - { name: navLink, label: Link, widget: "string" }
      - label: "Footer"
        name: "footer"
        file: "/content/footer.yml"
        fields:
          - label: "Socials(Facebook, Instagram, Twitter and Youtube only)"
            name: "socials"
            widget: "list"
            fields:
              - label: Links
                name: links
                widget: list
                fields:
                  - {
                      label: "Social Network Name",
                      name: "socialNetwork",
                      widget: "string",
                    }
                  - { name: "link", label: "Social Link", widget: "string" }
          - label: "Columns"
            name: "columns"
            widget: "object"
            fields:
              - label: "Column 1"
                name: "columnOne"
                widget: "list"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: Links
                    name: links
                    widget: list
                    fields:
                      - { name: "link", label: "link", widget: "string" }
              - label: "Column 2"
                name: "columnTwo"
                widget: "object"
                fields:
                  - { label:" List Title", name: "list", widget: "string" }
                  - label: Links
                    name: links
                    widget: list
                    fields:
                      - { name: "link", label: "link", widget: "string" }
              - label: "Column 3"
                name: "columnThree"
                widget: "object"
                fields:
                  - { label: "List Title", name: "list", widget: "string" }
                  - label: Links
                    name: links
                    widget: list
                    fields:
                      - { name: "link", label: "link", widget: "string" }
